@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html, body{
    /* font-family: 'Poppins', Arial, Helvetica, sans-serif; */
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    position: relative;
    background-color: #f9f9f9;
}

/* .topNav{
    top: 0;
    background-color: #f9f9f9;
    position: sticky;
    height: 100px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
}

.topNav img {
    width: 24px;
    cursor: pointer;
} */

h1 {
    font-size: 25px;
    color: #bdbdbd;
    margin: 50px 0 30px 20px;
    color:#4ac089;
}

hr {
  border: none;
  border-top: solid #f3f3f3 1px;
  margin-bottom: 20px;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: transform .3s ease;
    border-right:1px solid #f3f3f3;

}

.sidebarTransform {
    transform: translateX(-200px);
}

#menu{
  position: absolute;
  right: 50px;
  top:50px;
}

#img_add_top_nav{
  position: relative;
  top:50px;
  left:90%;
}

h3 {
    padding: 6px 8px 6px 30px;
    text-decoration: none;
    font-size: 18px;
    color: #b7b7b7;
    display: block;
    cursor: pointer;
}

h3:hover {
    color: #5e5e5e;
}


.project {
    margin-top: 40px;
}

.project input {
    width: 100px;
    margin-left: 50px;
    margin-top: 10px;
}

#submit_new_project {
    width: 24px;
    padding-left: 90px;
    padding-top: 5px;
    cursor: pointer;
}

h2 {
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#Inbox_title, #new_create_title {
    margin-left: 0px;
    text-align: center;
    margin-bottom: 20px;
    color: #4ac089;
}

#project_title {
    color: #4ac089;
}

.global {
    width: 50%;
    margin: 0 auto;
    padding-top: 25px;
}

.item {
    border-bottom: 1px solid #ececec;
    min-height: 30px;
    line-height: 30px;
    padding:  10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}



h4 {
    font-size: 16px;
    padding-left: 20px;
}

.icons {
    margin-left: 5px;
    margin-right: 5px;
    width: 19px;
    opacity: 0.7;
    border: 1px solid white;
    padding: 5px;
}


.icons:hover {
    border-radius: 25px;
    border: 1px solid #fff;
    /* background-color: rgb(213, 236, 255); */
    background-color: #4ac089;
    padding: 5px;
    cursor: pointer;
}

.icons_prio {
    margin-left: 5px;
    margin-right: 5px;
    width: 15px;
    opacity: 0.7;
    border: 1px solid white;
    padding: 5px;
    /* background-color:  rgb(247, 247, 247); */
    border-radius: 50px;
    background-color: #fff;
}


.create{
    text-align: center;
}

.create input {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

#create_todo, #update_todo {
  background-color: #4ac089;
  border: none;
	outline: none;
  width: 100px;
  color: #fff;
  height: 30px;
}

input {
  border: none;
  height: 30px;
  padding-left: 10px;
  border-bottom:1px solid #fff;

}

input:focus{
    border-bottom:1px solid #4ac089;
    outline: none !important;
}

#create_todo:hover, #update_todo:hover{
  background-color: #fff;
  color: #4ac089;
  cursor: pointer;
}
#cancel {
  background-color: #fff;
  border: solid 1px #4ac089;
	outline: none;
  width: 100px;
  color: #4ac089;
  height: 30px;
}

#cancel:hover{
  background-color: #4ac089;
  color: #fff;
  cursor: pointer;
}


@media (max-width: 400px) {
    .icons {
        width: 17px;
    }

    .global {
        width: 95%;
        margin: 0 auto;
    }

}
