@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

html, body{
    /* font-family: 'Karla', Arial, Helvetica, sans-serif; */
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100;
    position: relative;
    background-color: #f9f9f9;
}


h1 {
    font-size: 25px;
    color: #bdbdbd;
    margin: 75px 0 30px 20px;
    color:#4ac089;
    font-weight: 400;

}

hr {
  border: none;
  border-top: solid #f3f3f3 1px;
  margin-bottom: 20px;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: transform .3s ease;
    border-right:1px solid #f3f3f3;
}

.sidebarTransform {
    transform: translateX(-200px);
}


.menu_icon {
  position: fixed;
	top:20px;
	left:30px;
	z-index: 3;
}

#menu{
cursor: pointer;
}

.img_add_todo{
  margin-top: 50px;
  text-align: center;
}

#img_add_top_nav{
cursor: pointer;
}

h3 {
    padding: 6px 8px 6px 30px;
    text-decoration: none;
    font-size: 18px;
    color: #b7b7b7;
    display: block;
    cursor: pointer;
}

h3:hover {
    color: #5e5e5e;
}


.project {
    margin-top: 40px;
}

.project input {
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

#input_new_project{
  width: 65%;
}
#submit_new_project {
    width: 24px;
    padding-left: 80px;
    padding-top: 5px;
    cursor: pointer;
}

h2 {
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#Inbox_title, #new_create_title {
    margin-left: 0px;
    text-align: center;
    margin-bottom: 20px;
    color: #4ac089;
    text-transform: uppercase;
    font-weight: 400;
}

#project_title {
    color: #4ac089;
}

.global {
    width: 50%;
    margin: 0 auto;
    padding-top: 25px;
}

.todos{
  margin-top: 30px;

}
.item {
    line-height: 2;
    padding:  10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #fff;
    align-items: center;
}

.imagesDiv{
  display: flex;
  align-items: center;
}

h4 {
    font-size: 16px;
    padding-left: 20px;
}

.icons {
    margin-left: 5px;
    margin-right: 5px;
    width: 19px;
    opacity: 0.7;
    border: 1px solid white;
    padding: 5px;
}


.icons:hover {
    border-radius: 25px;
    border: 1px solid #fff;
    /* background-color: rgb(213, 236, 255); */
    background-color: #4ac089;
    padding: 5px;
    cursor: pointer;
}

.icons_prio {
    margin-left: 5px;
    margin-right: 5px;
    width: 15px;
    opacity: 0.7;
    border: 1px solid white;
    padding: 5px;
    /* background-color:  rgb(247, 247, 247); */
    border-radius: 50px;
    background-color: #fff;
}


.create{
    text-align: center;
}

.create input {
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

#create_todo, #update_todo {
  background-color: #4ac089;
  border: none;
	outline: none;
  width: 100px;
  color: #fff;
  height: 30px;
  margin-top: 30px;
}

input {
  border: none;
  height: 30px;
  padding-left: 10px;
  border-bottom:1px solid #fff;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100;
}

input:focus{
    border-bottom:1px solid #4ac089;
    outline: none !important;
}

#priority{
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 10%;
  width: 77%;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100;
  height: 30px;
  padding-left: 10px;
}


#create_todo:hover, #update_todo:hover{
  background-color: #fff;
  color: #4ac089;
  cursor: pointer;
}
#cancel {
  background-color: #fff;
  border: solid 1px #4ac089;
	outline: none;
  width: 100px;
  color: #4ac089;
  height: 30px;
}

#cancel:hover{
  background-color: #4ac089;
  color: #fff;
  cursor: pointer;
}


@media (max-width: 400px) {
    .icons {
        width: 17px;
    }

    .global {
        width: 95%;
        margin: 0 auto;
    }

}
